$sprites-url: url("/_moovweb_local_assets_/images/sprites.png");

$sprites-width: 32px;
$sprites-height: 86px;

$sprites-list-icon-x: 0px;
$sprites-list-icon-y: 0px;
$sprites-list-icon-width: 27px;
$sprites-list-icon-height: 20px;

$sprites-next-x: 0px;
$sprites-next-y: -21px;
$sprites-next-width: 32px;
$sprites-next-height: 32px;

$sprites-prev-x: 0px;
$sprites-prev-y: -54px;
$sprites-prev-width: 32px;
$sprites-prev-height: 32px;

@mixin sprites-list-icon() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 27px;
  height: 20px;
}

@mixin sprites-next() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -21px;
  width: 32px;
  height: 32px;
}

@mixin sprites-prev() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -54px;
  width: 32px;
  height: 32px;
}

.sprites-list-icon {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 27px;
  height: 20px;
}

.sprites-next {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -21px;
  width: 32px;
  height: 32px;
}

.sprites-prev {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -54px;
  width: 32px;
  height: 32px;
}
